{% extends "FacebesSnippetBundle::base.html.twig" %}
{% block title %}Snippet Application{% endblock %}

{% block header %}
<h1 class="grid_6" id="title">{% block pagetitle %}Snippet{% endblock %}</h1>
{% endblock %}

{% block body %}
<div class="clear"></div>
<h2 class="grid_10" id="subtitle">{% block pagesubtitle %}La aplicacion{% endblock %}</h2>

<div id="principal"  class="grid_10">
  {% block contenido %} {% endblock %}
</div>
<div id="lateral" class="grid_2">
  {% block lateral %} Contenido dentro del Menu lateral{% endblock %}
</div>
{% endblock %}


