{% extends "FacebesSnippetBundle::base.html.twig" %}
{% block title %}Snippet Application{% endblock %}

{% block pagetitle %}Snippet{% endblock %}


{% block subheader %}
<div id="subtitle" class="grid_12">{% block pagesubtitle%}{% endblock %}</div>
{% endblock %}

{% block principal %}
<div id="contenido" class="grid_10">{% block contenido %}{% endblock %}</div>
<div id="menu_lateral" class="grid_2">{% block lateral %}{% endblock %}</div>
{% endblock %}