{% extends 'FacebesSnippetBundle::layout.html.twig' %}

{% block title %} New Snippet {% endblock %}
{% block pagesubtitle %}New Snippet {% endblock %}

{% block contenido %}
<form action="{{ path('snippet_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}

{% block lateral %}
<ul class="record_actions">
    <li>
        <a href="{{ path('snippet') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
