{% extends 'FacebesSnippetBundle::layout.html.twig' %}

{% block pagesubtitle %}Tag creation{% endblock %} 
{% block contenido %}

<form action="{{ path('tag_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}
{% block lateral %}
<ul class="record_actions">
    <li>
        <a href="{{ path('tag') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}