body {
    /*background: #123;*/
    background: #afb1b4;
    padding-bottom: 20px;
}

#title {
    color: white;
    text-align: center;
    font-size: 3em;
}

#subtitle
{
    text-align: center;
    font-size: 1.5em; 
}


nav {    
    margin: 20px;
}

nav ul, nav li {
    list-style: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    /*box-shadow:0 0px 5px rgba(0,0,0,0.2);*/
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    display: block;
    text-align: center;    
    background: transparent;
    border-width: 1px 1px 1px 0px;
}

nav a:hover {
    color: gray;   
}

footer{
    margin-top: 50px;
    text-align: right;
    color: white;
}

body{
}

a {
    text-decoration: none;
    color:white;
}

label{
    margin-right: 150px;
}

.par{
    background: #4d6985;
}

.impar{
    background: #2d5a87;
}

.impar tr:hover{
    background: #8785a2d;
}

.records_list{
    width: 100%;
}

#menu_lateral ul, #menu_lateral il
{
    list-style: none;
    color: black;
}

#menu_lateral a {
    text-decoration: none;
    display: block;
    text-align: center;    
    background: transparent;
    color: black;
}


/*-------------------------------------------------------------
	GRID
--------------------------------------------------------------*/

.container {
	margin:0 auto;
	padding:40px 0 0 0;
	width:100%;        
	background: transparent; }
 
.wrapper {
        height: auto;
	margin:0 auto;
	padding:0;
	/*width: 970px;*/
	background:#fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius:10px;
	-moz-box-shadow: 0 0px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0px 5px rgba(0,0,0,0.3);
	box-shadow: 0 0px 5px rgba(0,0,0,0.3); }
 
.header {
	position: relative;
	margin:0 auto;
	padding:0 30px;
	
	/*width: 910px;*/
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-khtml-border-radius-topleft: 10px;
	-khtml-border-radius-topright: 10px;
	border-top-right-radius:10px;
	border-top-left-radius:10px; 
        overflow: auto;
        background-color: #D13521;        
}

.sub-header {
	display:block;
	margin: 0;
	padding:0;
	/*height:8px;*/
	/*width: 970px;*/	
        background-color: #123;
        overflow: auto;
        color: whitesmoke;
}

.content {
	padding:0 0 30px 0;
        height: auto;
        overflow: auto;
/*	width: 970px;*/
}

.content-home {
	margin:0 auto;
	padding:0px; 
        height: auto;
}

.footer {
	margin: 0 auto;
	padding:20px 0;
	/*width: 970px;*/
	font-size:0.9em ;
	text-align:center; }

	